@model LocalizeTextSample.Models.UserProfile

@{
    ViewBag.Title = Localize.Complete;
}

<h2>@Localize.Complete</h2>

<p>
    @string.Format(Localize.UserNameIsX, Model.Name)
</p>
<p>
    <a href="@Url.Action("Index")">@Localize.Back</a>
</p>

